/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(239, 239, 240);
    text-align: center;

    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 50px;
    background: rgb(239, 239, 240);
    border: none;
    border-radius: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 17px;
    font-family: 'Sofia',cursive;

}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
    padding-bottom: 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-family: 'Sofia',cursive;
}

#test a:hover {
    color: #7386D5;
    background: #fff;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    transition: all 0.3s;
    top: 0;
    right: 0;
}

.notebook-hero {
    background: rgb(239, 239, 240);
    padding: 5vh 10% 0;
    padding-bottom: 100px;
    text-align: -webkit-center;

}

@media only screen and (max-width: 992px) {
    .notebook-hero {
    }
    .notebook-hero h1 {
        font-size: 8vw;
    }
    .notebook-hero .btn {
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 768px) {
    .notebook-hero .btn {
        font-size: 0.5rem;
    }
}

h1::after, h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 73px;
    margin: 1.5rem auto;
    background-color: black;
}

h1, h2 {
    text-align: center;
    padding: 30px;
}

p {
    text-align: center;
}

#second {
    background: #DBC0D9;
}

h1 {
    font-size: 45px;
    font-family: 'Sofia',cursive;
}

#para1 {
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 40px;
}

h1 ::after, ::before {
    box-sizing: inherit;
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
}

.far, .fa-times-circle {
    size: 7px;
}

#links {
    display:inline-flex;
    margin-top: 30px !important;
    padding-bottom: 0;
}

/* <!--Remove unwanted and unused code--> */

#links, .link {
    
}

.link {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

#padding0 {
    padding: 0;
}

.btn-fb, .btn-git, .btn-li {
    color: #fff;

}

.btn-fb {
    background-color: #3b5998!important;
}

.btn-git {
    background-color: #333!important;
}

.btn-li {
    background-color: #0082ca!important;
}

.carousel{
    width:70%;
    max-height: 75%;
}

h5 {
    font-family: 'Sofia',cursive;
    color: #ccffff;
}


.fa-envelope:before {
    width: 40px;
    height: 40px;
}

.icon {
    background-color:#25d366;
    color:#FFF;
}

.center {
    text-align: -webkit-center;
    display: "flex" !important;
}

#sidebarCollapse {
    background: rgb(239, 239, 240);
    border-color: rgb(255, 255, 255);
}

#me {
    font-family: 'Sofia',cursive;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a {	
	display: inline-block;
	text-decoration: none;
	padding: 20px;
}

.social-media-icons a:nth-child(1) i {
	color: #d34836;
}

.social-media-icons a:nth-child(2) i {
	color: #4099FF;
}

.social-media-icons a:nth-child(3) i {
	color: #00c300;
}

.social-media-icons a:nth-child(4) i {
	color: #00c300;
}

.social-media-icons a:nth-child(5) i {
	color: #00c300;
}

.social-media-icons a i:hover{
    color: black;
    opacity: 0.8;
}